<div class="products-catagories-area clearfix">
  <div class="amado-pro-catagory clearfix row">
    <% @photos.each do |photo| %>
    <div class="single-products-catagory clearfix">
      <a href="<%= photo_path(photo) %>">
        <%= image_tag photo.image_url.url %>
        <!-- Hover Content -->
        <div class="hover-content">
          <div class="line"></div>
          <p><%= photo.title %></p>
        </div>
      </a>
    </div>
    <% end %>
  </div>
  <%= paginate @photos, theme: 'twitter-bootstrap-3' %>
</div>

