<div class="nested-fields">
  <%= f.association :category, input_html: { style: "height: 40px" } %>
  <%= f.input :_destroy, as: :boolean %>
  <%= link_to_remove_association "Remove Category", f, class: "btn btn-danger" %>
</div>
